<!DOCTYPE html><html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyGameHub</title>
  <!--CSS Bibliotecas-->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>
  <!--CSS Global-->
  <link rel="stylesheet" href="/public/style.css">
  <!--CSS Especifico-->
  <link rel="stylesheet" href="/public/home.css">
  <!--Icones-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">  
</head>
<body> 
  <header class="header">
    <a class="logo" onclick="location.reload();">
      <img src="/images/logo.png" id="logo" alt="Logo">
    </a>
    <nav class="nav">
      <span class="nav-item" onclick="window.location.href='/category/pc'">PC</span>
      <span class="nav-item" onclick="window.location.href='/category/console'">CONSOLE</span>
      <span class="nav-item" onclick="window.location.href='/category/mobile'">MOBILE</span>      
  </nav>
    <a class="account" id="toggle-button">
      <img src="/images/profile.png" alt="User Icon" class="icon">
      <span>Sign in/Sign Up</span>
    </a>
    <div class="forms-wrapper hidden">
      <!-- Formulário de Registro -->
      <form class="register-form active-form" id="registerForm">
        <h5>WELCOME ADVENTURER</h5>
        <p>Register now and begin tracking your epic journey</p>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Choose Your Hero Name" required>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Enter your email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter your password" required>
        <input type="password" name="repeatPassword" placeholder="Repeat your password" required>
        <button type="submit">Register</button>
        <p>Already have an account? <span class="switch-form" data-target="loginForm">Sign In</span></p>
        <p id="registerMessage" class="message"></p>
      </form>
    
      <!-- Formulário de Login -->
      <form class="login-form" id="loginForm">
        <h5>WELCOME BACK ADVENTURER</h5>
        <p>Enter your username and password to keep track of your journey</p>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Enter your email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter your password" required>
        <button type="submit">Login</button>
        <p>Don't have an account? <span class="switch-form" data-target="registerForm">Register</span></p>
        <p id="loginMessage" class="message"></p>
      </form>
    </div>
    
  </header>
  
  <!-- Barra de Pesquisa -->
  <nav class="search-bar">
    <div class="search-container">
      <input type="text" id="search-input" placeholder="Search...">
      <div class="select-container">
        <select id="platform-select" class="search-select">
          <option value="all">All</option> 
          <option value="pc">PC</option>
          <option value="console">Console</option>
          <option value="mobile">Mobile</option>
        </select>      
        <img src="/images/arrowDown.png" alt="Seta para baixo" class="select-icon icon">
      </div>
      <img src="/images/search.png" alt="Search Icon" class="icon">
    </div>
  </nav>
  
  <!-- Contêiner para os resultados -->
  <div id="results-container" class="results-container"></div>
  

<h1>Choose Your Adventure</h1>

<div class="center-container">
<div class="slider-container">
  <div class="slider">
    <div class="slider-item" data-genre-id="8" onclick="fetchCategory(8)">
      <h2 class="slider-title">Platform</h2>
    </div>
    <div class="slider-item" data-genre-id="31" onclick="fetchCategory(31)">
      <h2 class="slider-title">Adventure</h2>
    </div>
    <div class="slider-item" data-genre-id="12" onclick="fetchCategory(12)">
      <h2 class="slider-title">RPG</h2>
    </div>
    <div class="slider-item" data-genre-id="32" onclick="fetchCategory(32)">
      <h2 class="slider-title">Indie</h2>
    </div>
    <div class="slider-item" data-genre-id="15" onclick="fetchCategory(15)">
      <h2 class="slider-title">Strategy</h2>
    </div>
  </div>  
    <button class="slider-button prev" onclick="rotateSlider(-1)">❮</button>
    <button class="slider-button next" onclick="rotateSlider(1)">❯</button>
</div>
</div>

<!-- Genres:
[
  { id: 5, name: 'Shooter' },
  { id: 10, name: 'Racing' },
  { id: 12, name: 'Role-playing (RPG)' },
  { id: 15, name: 'Strategy' },
  { id: 31, name: 'Adventure' },
] -->

<article class="content-section">
  <h3 class="article-title">Top Rated </h3>
  <button class="article-button" onclick="window.location.href='/top-rated-games'">MORE</button>
</article>
<section class="box-container">
  <div class="box" style="background-image: url('<%= topRatedGames[1].cover %>');"></div><!-- TOP 2 -->
  <div class="box large" style="background-image: url('<%= topRatedGames[0].cover %>');"></div> <!-- TOP 1 -->
  <div class="box" style="background-image: url('<%= topRatedGames[2].cover %>');"></div><!-- TOP 3 -->
</section>

<div class="discover">
  <h3 class="discover-title">DISCOVER</h3>
  <div class="button-group">
    <button class="discover-button" id="randomGame" onclick="window.location.href='/randomGame'">SURPRISE ME</button>
    <button class="discover-button" id="randomGame" onclick="window.location.href='/randomGame'">SURPRISE ME</button>
    <button class="discover-button" id="randomGame" onclick="window.location.href='/randomGame'">SURPRISE ME</button>
  </div>
</div>


<section class="game-section">
  <h2 class="line-title">Trending Games</h2>
  <div class="owl-carousel custom-carousel owl-theme">
    <% trendingGames.forEach(game => { %>
      <div class="item" style="background-image: url('<%= game.cover %>');">
        <div class="item-desc">
          <h3><%= game.name %></h3>
          <p onclick="fetchByGameId('<%= game.id %>')">
            <%= game.summary.length > 150 ? game.summary.substring(0, 150) + '...' : game.summary %>
          </p>
        </div>
      </div>
    <% }); %>
  </div>
</section>




<footer>
  <div class="footer-container">
    <div class="social-media">
      <h4>Social Media</h4>
      <ul>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        <li><a href="#"><i class="fab fa-twitch"></i></a></li>
        <li><a href="#"><i class="fab fa-discord"></i></a></li>
        <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
        <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
      </ul>
      <div class="language">
        <label for="language-select">🌐</label>
        <select id="language-select">
          <option value="en">English</option>
          <option value="pt">Português</option>
          <option value="es">Spanish</option>
        </select>
      </div>
    </div>
    <div class="institutional">
      <h4>Institutional</h4>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Your Game with us</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </div>
    <div class="help">
      <h4>Help</h4>
      <ul>
        <li><a href="#">Support</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>LOGO © 2011 - 2024</p>
  </div>
</footer>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
<!-- Script Global -->
<script src="/js/script.js"></script>
<!-- Script de Login -->
<script src="/js/login.js"></script>

</body>
</html>